body {
  text-align: center;
}

.container {
  background: url('a.png') no-repeat;
  background-size: 30%;
  background-position: 90%;
}

.bloc {
  margin: 80px;
  width: 50%;
  text-align: justify;
}

.btn {
  border: 2px solid #000;
  padding: 2px 17px;
  border-radius: 3px;
  color: #000;
  text-decoration: none;
}